---
layout: default
image1: /img/main/DSC01862.jpg
image2: /img/main/IMG_9595.JPG
---

<div class="header-container jumbotron jumbotron-fluid">
          </div>




<div class="container">
<div class="row">
    <div class="line"></div>
<div class="col-lg-12 col-md-12 col-sm-12">
  <h1 style="text-align: center;">Badmintonwochen.de - 
      Die sportliche Ferienfreizeit im Münsterland</h1>
</div>

</div>

<div class="line"></div>

<div class="row">
  <h1>Neuigkeiten</h1>
  <div class="row blog-preview">
      {% assign news = site.news | sort: 'date' | reverse %}
      {% for news in news %}
        {% if forloop.index0 == 1%}
          {% break %}
        {% else %}
          <a class="col-sm-12 col-md-12 col-lg-12 blog-preview-item" href="{{ site.baseurl | append: news.url }}">
            <div class="thumbnail">
              <img src="{{ site.baseurl | append: news.thumbnail }}" alt="{{ news.title }} - Logo">
              <div class="caption">
                <h3>{{ news.title }}</h3>
                <p>{{ news.abstract }}</p>
                <p><button href="#" class="btn" role="button">weiterlesen</button>
              </div>
            </div>
          </a>
        {% endif %}
      {% endfor %}
      </div>
      <div style="text-align: center;">
        <p><a class="btn" href="{{ site.baseurl | append: "/news.html" }}" role="button">zu den Neuigkeiten</a></p>
      </div>
</div>

 <div class="row">
   <br>
   <h1>Aktuelle Ausschreibungen</h1>
        <div class="row blog-preview">
        {% assign posts = site.posts | sort: 'date' | reverse %}
        {% for post in posts %}
          {% if forloop.index0 == 2%}
            {% break %}
          {% else %}
            <a class="col-sm-6 col-md-6 col-lg-6 blog-preview-item" href="{{ site.baseurl | append: post.url }}">
              <div class="thumbnail">
                <img src="{{ site.baseurl | append: post.thumbnail }}" alt="{{ post.title }} - Logo">
                <div class="caption">
                  <h3>{{ post.title }}</h3>
                  <p>{{ post.abstract }}</p>
                  <p><button href="#" class="btn" role="button">mehr</button>
                </div>
              </div>
            </a>
          {% endif %}
        {% endfor %}
        </div>
        <div style="text-align: center;">
          <p><a class="btn" href="{{ site.baseurl | append: "/allposts.html" }}" role="button">zu den Ausschreibungen</a></p>
        </div>
 </div>   
 <div class="line"></div>
<h1 style="text-align: center;">Partner</h1>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row sponsor">
          <ul>
            <li>
              <a href="https://www.tvemsdetten.de/" target="_blank">
                <img src="{{ site.baseurl | append: "/img/sponsors/tve25.jpg" }}" alt="TV Emsdetten">
              </a>
            </li>
            <!-- <li>
              <a href="https://www.scmuenster08.de/badminton/" target="_blank">
                <img src="{{ site.baseurl | append: "/img/sponsors/muenster08.png" }}" alt="Münster 08">
              </a>
            </li> -->
            <li>
                    <a href="https://www.victor-europe.com/" target="_blank">
                      <img src="{{ site.baseurl | append: "/img/sponsors/VICTOR-Logo_rgb.png" }}" alt="Victor">
                    </a>
            </li>
                <li>
                    <a href="https://www.salvus.de/" target="_blank">
                      <img src="{{ site.baseurl | append: "/img/sponsors/salvus.png" }}" alt="Salvus">
                    </a>
            </li>
                <li>
                    <a href="https://www.wgems.de/" target="_blank">
                      <img src="{{ site.baseurl | append: "/img/sponsors/wgems.jpeg" }}" alt="wgems">
                    </a>
            </li>
            <!-- <li>
                    <a href="https://senacor.com/" target="_blank">
                      <img src="{{ site.baseurl | append: "/img/sponsors/Senacor-Logo-Petrol.svg" }}" alt="Senacor">
                    </a>
            </li>
            <li>
                    <a href="https://www.warendorfer-su.de/badminton/badminton-aktuelles" target="_blank">
                      <img src="{{ site.baseurl | append: "/img/sponsors/wsu-logo.png" }}" alt="WSU">
                    </a>
            </li>
            <li>
                    <a href="https://www.tvjahnrheine.de/de/sportarten/badminton/" target="_blank">
                      <img src="{{ site.baseurl | append: "/img/sponsors/logo-jahn-rheine.png" }}" alt="Jahn-Rheine">
                    </a>
            </li>
            <li>
              <a href="https://www.bc-herten.de/" target="_blank">
                <img src="{{ site.baseurl | append: "/img/sponsors/BC_Herten_Logo.png" }}" alt="BC Herten">
              </a>
      </li> -->
          </ul>
          </div>
        </div>
      </div>
    </div>
</div>
