<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <span><img src="{{site.baseurl}}/img/logonav.png"></span> {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if page.sectionid=='news' %} class="active" {% endif %}><a href="{{ "/news.html" | prepend: site.baseurl }}">Neuigkeiten</a></li>
                <li {% if page.sectionid=='vereine' %} class="active" {% endif %}><a href="{{ "/badmintonwochen.html" | prepend: site.baseurl }}">Badmintonwochen</a></li>
                <li {% if page.sectionid=='altvereine' %} class="active" {% endif %}><a href="{{ "/allposts.html" | prepend: site.baseurl }}">Ausschreibungen</a></li>
                <!-- <li {% if page.sectionid=='anmeldung' %} class="active" {% endif %}><a href="{{ "/anmeldung.html" | prepend: site.baseurl }}">Anmeldung</a></li> -->
            </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li {% if page.sectionid=='ueberuns' %} class="active" {% endif %}><a href="{{ "/ueberuns.html" | prepend: site.baseurl }}">Über uns</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
